@page "/tech/tools/{Id}"
@using JSdotNet.Blog.Domain.Models

@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]


@if (Tool is not null)
{
    <FluentCard>
        <div style="display: flex; width=100%">
            <a href="tech/tools/@Tool.Id">
                <FluentLabel Typo="Typography.H3">@Tool.Name</FluentLabel>
            </a>
            @*  <FluentSpacer />
            <FluentLabel Typo="Typography.H4">@Tool.CreatedAt.ToString("D")</FluentLabel> *@
        </div>
        @if (Tool.Description is not null)
        {
            <p>@((MarkupString)Tool.Description)</p>
        })
       
        @foreach (var tag in Tool.Tags)
        {
            <FluentBadge Appearance="Appearance.Accent">@($"{tag.Type}: {tag.Value}")</FluentBadge>
        }
    </FluentCard>
}

@code {
    [Parameter]
    public Tool? Tool { get; init; }
}