@page "/articles/{id}"


<ArticleView Article="@_article">
    <p>This is a client side article, with some interactivity</p>

    <JSdotNet.Web.Client.Pages.Counter />

    @* <DynamicComponent  *@

</ArticleView>


@code {
    private Article? _article { get; set; }

    protected override Task OnInitializedAsync()
    {
        _article = Article.Create(new DateOnly(2024, 01, 05), "Article 1", Lorem, "article1", new TagKey(TagType.Tool, "VS"));

        return Task.CompletedTask;
    }

    private const string Lorem = "<b>Lorem ipsum dolor sit amet</b>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
}
