
@if (Article is not null)
{
    <FluentCard>
        <div style="display: flex; width=100%">
            <a href="articles/@Article.Id">
                <FluentLabel Typo="Typography.H3">@Article.Title</FluentLabel>
            </a>
            <FluentSpacer />
            <FluentLabel Typo="Typography.H4">@Article.CreatedAt.ToString("D")</FluentLabel>
        </div>
        <p>@((MarkupString)Article.Summary)</p>

        <Tags Items="@Article.Tags" />
    </FluentCard>
}

@code {
    [Parameter]
    public Article? Article { get; init; }
}
